/* 默认样式（移动端优先） */
table {
	border-collapse: collapse;
	/* width: 100%; */
	margin: 12px;
}

/* 电脑端样式（宽度768px以上） */
@media (min-width: 768px) {
	table {
		/*width: 98%;  或者固定宽度如800px */
		/**居中*/
		margin-left: auto;
		margin-right: auto;
		font-size: 18px;
	}

	/* 涨幅榜最近几日出现的次数 */
	#changepercentNumber {
		/* width: 70%; */
	}
}
th, td {
	border: 1px solid #eee;
	padding: 8px;
	text-align: center;
	white-space: nowrap; /* 禁止换行 */
}

/* 为每列设置不同的背景色 */
.thCol1 {background-color: #ff5555!important;}
.thCol2 {background-color: rgb(255 192 0)!important;}
.thCol3 {background-color: rgb(255 255 0)!important;}
.thCol4 {background-color: rgb(0 176 80)!important;}
.thCol5 {background-color: rgb(0 176 240)!important;}
.col1 { background-color: rgb(220 228 234); }
.col2 { background-color: rgb(248 202 171); }
/* 奇数列样式 */
#chartAll td:nth-child(odd), #chartAll th:nth-child(odd) {
	background-color: rgb(220 228 234); /* 浅蓝色#e6f7ff */
}

/* 偶数列样式 */
#chartAll td:nth-child(even), #chartAll th:nth-child(even) {
	background-color: rgb(248 202 171); /* 浅橙色#fff2e6 */
}

/* 奇数行 
tr:nth-child(odd) {
	background-color: #eee;
}*/

/* 最近十天涨幅榜明细 */
#changepercentRecently {
	margin-bottom: 20px;
}
#changepercentRecently td:nth-child(1), #plummetRecently td:nth-child(1) {
	background-color: #edf2fa;
	width:45px;
}
#changepercentRecently .date, #plummetRecently .date {
	background-color: rgb(220 228 234);
}
/* 最近十天涨幅榜明细-其他列设置相同宽度 */
#changepercentRecently td:not(:nth-child(1)) {
	width:90px;
}
.titleBg {
	background-color: #edf2fa;
}

button {
	margin-left: 30%;
}

/*高亮*/
.highlight-column {
	background-color: #ffeb3b!important; /* 黄色背景 */
    font-weight: bold;
}

.cssCursor{
	cursor: pointer; /* 鼠标悬停时显示手指形状的指针 */
}